<div class="left-nav">
    <nav>
        <ul>
            <li><a class="first-item" href="#">Documentation1</a></li>
            <li><a href="#">Documentation1</a></li>
            <li>
                <ul>
                    <li><a href="#">Documentation1</a></li>
                    <li><a href="#">Documentation1</a></li>
                    <li><a href="#">Documentation1</a></li>
                    <li><a href="#">Documentation1</a></li>
                </ul>
            </li>
            <li><a href="#">Documentation1</a></li>
            <li><a href="#">Documentation1</a></li>
            <li><a href="#">Documentation1</a></li>
            <li><a class="last-item" href="#">Documentation1</a></li>
        </ul>
    </nav>
</div>
