<footer class="site-footer">
    <div class="container">
        <div class="about">
            <h3>About</h3>
            <p>Maecenas consequat ut tellus id rhoncus. Vestibulum condimentum dignissim dui, eget consequat felis egestas id. Mauris ipsum lorem, volutpat sed felis quis, placerat iaculis dolor.</p>
            <button>Contribute</button>
        </div>
        <div class="docs">
            <h3>Documentation</h3>
            <ul>
                <li>Documentation1</li>
                <li>Documentation1</li>
                <li>Documentation1</li>
                <li>Documentation1</li>
            </ul>
        </div>
        <div class="contact">
            <h3>Contact Us</h3>
            <ul>
                <li>Twitter</li>
                <li>Twitter</li>
                <li>Twitter</li>
                <li>Twitter</li>
            </ul>
        </div>
    </div>
    <div class="team">
        Made with love by the roastero team
    </div>
</footer>
