<footer class="site-footer">
    <div class="container">
        <div class="about">
            <h3>ABOUT</h3>
            <p>Maecenas consequat ut tellus id rhoncus. Vestibulum condimentum dignissim dui, eget consequat felis egestas id. Mauris ipsum lorem, volutpat sed felis quis, placerat iaculis dolor.</p>
            <a href="/contribute">CONTRIBUTE <i class="fa fa-code-fork"></i></a>
        </div>
        <div class="docs">
            <h3>DOCUMENTATION</h3>
            <ul>
                <li><a href="#">Documentation1</a></li>
                <li><a href="#">Documentation1</a></li>
                <li><a href="#">Documentation1</a></li>
                <li><a href="#">Documentation1</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>CONTACT US</h3>
            <ul>
                <li><a href="{{ site.github }}"><i class="fa fa-github"></i> Github</a></li>
                <li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a href="{{ site.facebook }}"><i class="fa fa-facebook"></i> Facebook</a></li>
            </ul>
        </div>
        <div class="team">
            Made with <i class="fa fa-heart"></i> by the Roastero <a href="{{ site.team }}">team</a>
        </div>
    </div>
</footer>
