<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Roastero</h5>
                <p class="grey-text text-lighten-4">
                    {{ site.description }}
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Documentation</h5>
                <ul>
                    <li><a class="white-text" href="#!">Protocol</a></li>
                    <li><a class="white-text" href="#!">Development Setup</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="{{ site.github  }}"><i class="fa fa-github"></i> Github</a></li>
                    <li><a class="white-text" href="{{ site.facebook }}"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a class="white-text" href="{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <i class="fa fa-heart"></i> by the Roastero  <a class="orange-text text-lighten-3" href="{{ site.contributors }}">team</a>
        </div>
    </div>
</footer>
