<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">{{ site.title  }}</a>
                <ul class="right">
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Download</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</header>
