<section id="recipes">
  <div class="row">
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
    <div class="6u">
      <h2>150-500-Smooth</h2>
      <h5>Full City, Full City+</h5>
      <p>A version of the 150UP12minDrop profile with a begining that has a
        smoother transition in the gradient and an ending that has a steeper
        gradient that reduces the posibility of stalling. The first stage is a
        preheating stage. Drop the beans right before the first stage completes.
        Recommended batch size: 4 OZ
      </p>
      <ul class="actions">
          <li><a href="#contribute" class="button special">View</a></li>
          <li><a href="#contribute" class="button special">Download</a></li>
      </ul>
    </div>
</section>
