<!DOCTYPE HTML>
<!--
	Openroast by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
    {% include head.html %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<body>
        <!-- Page Wrapper -->
		<div id="page-wrapper">
            {% include header.html %}
            <article id="main">
  						<header>
  							<h2>{{ page.title }}</h2>
  							<p>{{ page.description }}</p>
  						</header>
  						<section class="wrapper style5">
  							<div class="inner">
                  {{ content }}
  							</div>
  						</section>
  					</article>
            {% include footer.html %}
        </div>

		<!-- Scripts -->
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
